
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.headerCtn {
    padding:20px;
    
    background-color:#f5f5f5;
    
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;

    margin: 10px auto;
}

.headerCtn h1 {
    margin-bottom:0;
    font-size:30px;
    line-height:1;
}



.headerTablaHoras td,.filaTarea td {
    height: 30px;
    border: solid 1px silver;
    border-radius: 4px;
    text-align: center;
}

.headerTablaHoras td {
    line-height: 2.1;
    font-weight: bold;
    background-color: #EBEAE4;
}

.infoText {
    font-size: x-small;
}

/* Resumen de Horas 
******************************************/

.filtros {
    display: none;
}

.filtros .filtro {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

.filtros .filtro input, 
.filtros .filtro button {
    padding: 4px;
}

.filtro-boton {
    margin-left: 30px;
}

/* OVERRRIDE jQuery UI
********************************************/
.ui-widget {
    font-size: 1.0em;
}
.ui-combobox {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
.ui-combobox .ui-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.ui-autocomplete-input {
    margin: 0;
    padding: 0.3em;
    width: 205px;
}

.ui-autocomplete {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Estilos Tareas
****************************************** */
div.row-fluid div.span2 {
    line-height: 3; 
    text-align: right;
}

.hrow div, .employeeRow div {
    width:25px;
    height: 35px;
    float: left;
    border: solid 1px silver;
    text-align: center;
    margin: 1px;
    border-radius: 4px;
    line-height: 2.5;
}

.employeeRow div {
    display: none;
}

.hrow div {
    height: 30px;
    line-height: 2.4;
    font-weight: bold;
}

.hrow div.total,
.employeeRow div.total-margen {
   margin-left: 10px;
}

.hrow div.total {
    width: 85px;
}

.employeeRow div.selected {
    background-color: #79A4F2;
}

.hrow div.weekend, .employeeRow div.weekend {
    background-color: #EBEAE4;
}

.hrow div.holiday, .employeeRow div.holiday {
    background-color: #EBEAE4;
}

.employeeRow div.vacia {
    background-color: #FFF;
}

.employeeRow div.total {
    background-color: #2E6E9E;
    color: #FFF;
}

.employeeRow div.licencia {
    background-color: #DFFFDF;
}

.employeeRow div.trabajada {
    background-color: #DFEFFC;
}

.employeeRow div.mixto {
    background-color: #DFEFFC;

    background-image: -webkit-linear-gradient(135deg, #DFFFDF 50%, transparent 50%);
    background-image: -moz-linear-gradient(135deg, #DFFFDF 50%, transparent 50%);
    background-image: -ms-linear-gradient(135deg, #DFFFDF 50%, transparent 50%);
    background-image: -o-linear-gradient(135deg, #DFFFDF 50%, transparent 50%);
    background-image: linear-gradient(135deg, #DFFFDF 50%, transparent 50%);

    font-size: 12px;
    position: relative;
}

.employeeRow div.mixto span {
    position: absolute;
    padding: 2px 4px;
    line-height: 1.2;
}

.employeeRow div.mixto span.arriba {
    top: 0;
    left: 0;
}

.employeeRow div.mixto span.abajo {
    bottom: 0;
    right: 0;
}

.hrow div.close, .employeeRow div.close {
    border: none;
}

.employeeRow div.close a{
    color: red;
    text-decoration: none;
    font-size: 17px;
    line-height: 2.1;
    padding: 0px 9px 3px 1px;
    background-color: white;
    border-radius: 10px;
    text-transform: lowercase;
    font-weight: bold;
}

.span2 {
    float: left;
    width: 200px;
    margin-right: 10px;
}

.span10 {
    width: 100%;
}

.row-fluid{
    float: left;
    width: 100%;
}

.nombreUsuario {
    background:none;
    border: none;
}

.errorPage {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

.mensajeError {
    width: 40%;
    margin: 10px;
    padding: 5px;    
}